# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments (adjust as needed)
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Pytest
.cache/

# mypy
.mypy_cache/

# MacOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/

# Ignore the instructions folder
challenge/

# Ignore "static", "images", and "files" folders everywhere EXCEPT in the root
/static/
!/static/  # Allow the root "static" folder (if you want to keep it)
**/static/
**/images/
/files/



# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
.terraform/
terraform/.terraform/
terraform/.terraform/
